.header-contents{
    background-color: #fafad2;
}
h1{
    /*对齐*/
    text-align: center;
    /*文字大小*/
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: red;
    height: 200;
    width: 200;
}